.DS_Store
Thumbs.db
desktop.ini

*.log
*.pot
*.pyc

local_settings.py

env
rh/static/media/CACHE
rh/static/media/heroines/portraits/*
rh/static/css/layout.css
rh/static/js/rh.js

node_modules
/assets

rh/static/media/packs
rh/static/media/portraits
rh/static/media

rh/db/realheroines.sqlite3

