#about-view {
  position: absolute;
  top: 110px;
  padding-top: 28px;
  width: 100%;
  height: 100%;
  background-color: @rh-black;
  .transition(all 0.5s);

  &.animated-out {
    top: 100%;
  }

  .about-container {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    .about-details {
      width: auto;
      min-height: 800px;
      margin: 0px 28px;
      border: 1px solid @rh-blacker;
      margin-bottom: 34px;
      text-align: center;

      img.world-icon {
        margin: 20px auto 0px;

      }

      .about-project {
        margin: auto;
      }

      header {
        margin-top: 30px;
        margin-bottom: 60px;
        color: @rh-grey-faded;

        h2 {
          color: white;
        }
        .subtitle {
          font-size: 12px;
        }

        // legacy
        h1 {
          display: inline-block;
          width: 70%;

          .real-heroines-logo-large {
            display: inline-block;
            font-family: 'Fanwood Text', Georgia, serif;
            font-size: 72px;
            color: @rh-yellow;
            margin: 0 auto;
          }

          &:before {
            content:"";
            position: absolute;
            top: auto;
            left: auto;
            margin-left: -48px;
            margin-top: 35px;
            display: inline-block;
            width: 76px;
            height: 57px;
            margin-right: 10px;
            background: transparent url('../img/leaf-right.png') top left;
          }

          &:after {
            content:"";
            display: inline-block;
            position: absolute;
            top: auto;
            left: auto;
            width: 76px;
            height: 57px;
            margin-left: 10px;
            margin-top: 88px;
            background: transparent url('../img/leaf-right.png') top left;
            .scaleX(-1);
          }
        }
      }

      .left-side, .right-side {
        margin: 0px auto 60px;
      }

      .about-copy {
        font-family: 'Muli', Verdana, Arial, sans-serif;
        text-align: left;

        h2 {
          font-family: 'Fanwood Text', Georgia, serif;
          font-size: 32px;
          font-style: oblique;
          color: @rh-grey-faded;
          text-transform: uppercase;
          margin-bottom: 1em;
        }

        p:first-child {
          font-size: 16px;
        }

        p {
          font-size: 12px;
          line-height: 166%;
          color: @rh-grey-faded;

          a {
            color: white;
            text-decoration: none;
            font-style: oblique;
          }
        }
      }

      .us-block {
        max-width: 824px;
        margin: 0 auto;
      }

      .about-us {
        margin-top: 24px;
      }

      .bio-block {
        text-align: left;
        color: @rh-grey-faded;
        font-family: 'Muli', Verdana, Arial, sans-serif;

        .bio-image {
          width: 100%;
          height: 206px;
          border: 1px solid @rh-blacker;
          margin-bottom: 36px;
        }

        .bio-name {
          font-family: 'Muli', Verdana, Arial, sans-serif;
          font-size: 16px; 
          color: white;
          margin: 0;
        }

        .bio-role {
          font-size: 12px; 
          font-style: oblique;
        }

        p {
          margin-top: 18px;
          font-size: 12px;
        }
      }

      .oli-block {

      }

      .moni-block {
        
      }
    }
  }
}