body[data-initial='about'] #about-view.animated-out {
  top: 0px;
}

body.about #grid-view {
  opacity: 0.0;
}

#about-view {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  .transition(all 0.5s);

  &.animated-out {
    
  }

  .about-container {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    .about-details {
      text-align: center;
      width: 100%;

      img.world-icon {
        margin: 20px auto 0px;
      }

      .about-project {
        margin: auto;
      }

      header {
        background-color: @rh-green;
        // min-height: 470px;

        .mugs {
          // max-width: 960px;
          margin: auto;
          white-space: none;

          img.mug {
            width: 14.2857%;
            // width: 137px;
            // max-height: 157px;
            overflow: none;
            margin: 0;
            padding: 0;
            vertical-align: top;
            opacity: 1.0;
            .transition(opacity 1.5s);

            &.animated-out {
              opacity: 0.0;
            }
          }
        }
      }

      .left-side, .right-side {
        margin: 0px auto 60px;
      }

      .about-copy {
        font-family: 'Muli', Verdana, Arial, sans-serif;
        text-align: left;

        h2 {
          font-family: 'Fanwood Text', Georgia, serif;
          font-size: 32px;
          font-style: oblique;
          color: @rh-grey-faded;
          text-transform: uppercase;
          margin-bottom: 1em;
        }

        p:first-child {
          font-size: 16px;
        }

        p {
          font-size: 12px;
          line-height: 166%;
          color: @rh-grey-faded;

          a {
            color: white;
            text-decoration: none;
            font-style: oblique;
          }
        }
      }

      .us-block {
        max-width: 824px;
        margin: 0 auto;
      }

      .about-us {
        margin-top: 24px;
      }

      .bio-block {
        text-align: left;
        color: @rh-grey-faded;
        font-family: 'Muli', Verdana, Arial, sans-serif;

        .bio-image {
          width: 100%;
          height: 206px;
          border: 1px solid @rh-blacker;
          margin-bottom: 36px;
        }

        .bio-name {
          font-family: 'Muli', Verdana, Arial, sans-serif;
          font-size: 16px; 
          color: white;
          margin: 0;
        }

        .bio-role {
          font-size: 12px; 
          font-style: oblique;
        }

        p {
          margin-top: 18px;
          font-size: 12px;
        }
      }

      .oli-block {

      }

      .moni-block {
        
      }
    }
  }
}