
.global-nav nav {
  text-align: center;
}

.global-nav nav a.link-home {
  margin: auto;
  border-right: none;
  float: none;

  padding: 0px;
  width: 350px;
}

.global-nav nav a.link-home .real-heroines-logo-small {
  width: 350px;
  background-size: contain;
}

#error-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 250px;
  text-align: center;
}