
#grid-view {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  margin: auto;
  width: 100%;
  // max-width: 960px;
  text-align: center;
  .transition(all 0.5s);

  &.animated-out .heroine-card {
    opacity: 0.0;

    .portrait {
      margin-top: 2.0em;
      opacity: 0.0;
    }
    .nameplate {
      opacity: 0.0;
      margin-top: -1em;
    }
  }

  .heroine-card {
    display: inline-block;
    text-align: center;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 1.0;
    width: 23%;
    text-decoration: none;
    .transition(all 0.5s);

    .portrait {
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 320px;
      max-height: 320px;
      overflow: hidden;
      opacity: 1.0;
      margin: 0 auto;
      margin-top: 0;
      padding: 0px;
      .transition(all 1.0s);

      .circle {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 82.3529%;
        height: 82.3529%;
        margin: auto;

        background-color: @rh-yellow;
        border-radius: 50%;
        // .transition(all 0.33s);
      }

      img, .grid-portrait {
        position: absolute;
        top: -6px;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        image-rendering: -moz-crisp-edges;         /* Firefox */
        image-rendering:   -o-crisp-edges;         /* Opera */
        image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor;
        // -webkit-filter: grayscale(100%);
        // -moz-filter: grayscale(100%);
        // filter: grayscale(100%);
        background-size: cover;
        .transition(all 0.66s);
      }
    }

    .nameplate {
      opacity: 1.0;
      margin-top: 0;
      margin-bottom: 0;
      font-family: 'Roboto Slab', 'Ubuntu';
      font-weight: 400;
      color: @rh-grey;
      .transition(all 1.0s);
    }

    .title {
      color: @rh-grey-faded;
      margin-bottom: 0px;

      font-family: 'Ubuntu', Verdana, Arial, sans-serif;
      font-weight: 400;
      font-size: 10px;
      text-transform: uppercase;

      .transition(margin-bottom 1s);
    }

    .grid-portrait-ornament {
      margin-top: -80px;
      opacity: 0;

      .transition(all 1.0s);
    }

    .diamonds {
      margin: 1em auto;
      margin-top: -30px;
      padding: 0;
      width: 100%;
      // width: 0.1%;
      overflow: hidden;
      white-space: nowrap;
      height: 18px;
      line-height: 18px;
      text-align: center;

      .transition(margin-top 1s);

      .diamond-line {
        display: inline-block;
        height: 1px;
        width: 5%;
        min-width: 16px;
        background: @rh-grey-middle;
        vertical-align: middle;
        .transition(0.66s);
      }
      .diamond-small {
        display: inline-block;
        vertical-align: middle;
        width: 0px;
        height: 0px;
        border: 1px solid transparent;
        margin-left: -2px;
        margin-right: -2px;
        .rotate(0rad);
        .transition(0.66s);
      }
      .diamond-large {
        display: inline-block;
        vertical-align: middle;
        width: 0px;
        height: 0px;
        border: 1px solid transparent;
        margin-left: -2px;
        margin-right: -2px;
        .rotate(0rad);
        .transition(0.66s);
      }

      .left-line {
        margin-right: -12px;
      }

      .right-line {
        margin-left: -12px;
      }
    }

    &:hover,
    &.active {
      .transition-delay(0s) !important;

      .portrait {
        margin-top: -14px;
        // margin-bottom: 16px;
        //padding: 5px;
        .transition-delay(0s) !important;

        img {
          -webkit-filter: grayscale(0%);
          -moz-filter: grayscale(0%);
          filter: grayscale(0%);
        }
      }

      .circle {
        background-color: @rh-yellow;
      }

      .nameplate {
        .transition-delay(0s) !important;
      }

      .grid-portrait-ornament {
        margin-top: -113px;
        opacity: 1.0;
      }

      .title {
        margin-bottom: 30px;
      }

      .diamonds {
        margin-top: 30px;

        .left-line {
          margin-right: -2px;
        }

        .right-line {
          margin-left: -2px;
        }

        .diamond-small {
          width: 4px;
          height: 4px;
          border: 1px solid @rh-grey-middle;
          .rotate(0.785rad);
          margin-left: -1px;
          margin-right: -1px;
        }

        .diamond-large {
          width: 5px;
          height: 5px;
          border: 1px solid @rh-grey-middle;
          margin-left: -1px;
          margin-right: -1px;
          .rotate(0.785rad);
        }
      }
    }

    &.passive {
      .portrait {
        width: 85%;
      }
      .nameplate {
        opacity: 0.5;
      }
    }
  }
}


@media only screen and (min-width: 768px) and (max-width: 959px) {
  #grid-view .heroine-card {
    .portrait {
      width: 172px;
      height: 172px;
      img {
        width: 172px;
        height: 172px;
      }
    }
  }
}