// modularized
@import 'colors.less';
@import 'mixins.less';
@import 'footer.less';

.ease-out-back() {
  -webkit-transition-timing-function: cubic-bezier(0.520, 0.000, 0.195, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.520, 0.000, 0.195, 1.650);
     -moz-transition-timing-function: cubic-bezier(0.520, 0.000, 0.195, 1.650);
       -o-transition-timing-function: cubic-bezier(0.520, 0.000, 0.195, 1.650);
          transition-timing-function: cubic-bezier(0.520, 0.000, 0.195, 1.650); /* custom */
}

.ease-in-back() {
  -webkit-transition-timing-function: cubic-bezier(0.495, 0, 0.965, 0.995); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.495, -0.600, 0.965, 0.995);
     -moz-transition-timing-function: cubic-bezier(0.495, -0.600, 0.965, 0.995);
       -o-transition-timing-function: cubic-bezier(0.495, -0.600, 0.965, 0.995);
          transition-timing-function: cubic-bezier(0.495, -0.600, 0.965, 0.995); /* custom */
}


/* #Site Styles
================================================== */

html, body {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  background: #ffffff;
  font-family: 'Ubuntu',Verdana,Arial,Helvetica,sans-serif;
  font-weight: 300;
}

::selection {
  background: @rh-yellow; // Gecko Browsers
  color: white;
}

::-webkit-selection {
  background: @rh-yellow; // Gecko Browsers
  color: white;
}

::-moz-selection {
  background: @rh-yellow; // Gecko Browsers
  color: white;
}

a {
  color: @rh-grey-dark;
}

.fullwidth {
  display: block;
  width: 100%;
}

.real-heroines-logo-small {
  background: transparent url('../img/real-heroines-logo-small.svg') center center no-repeat;
  background-size: contain;
  max-width: 83%;
  max-height: 106px;
  opacity: 1.0;

  margin: 2% auto 0px auto;
  width: 96%;
  height: 100%;
  .transition-delay(0.5s);
}

.real-heroines-logo-smallest {
  margin-top: -10px;
  margin-left: 4px;
  width: 48px;
  height: 48px;
}

.real-heroines-logo-large {
  width: 432px;
  height: 180px;
}

.real-heroines-logo-icon {
  background: transparent url('../img/real-heroines-logo-icon.svg') center center no-repeat;
  background-size: contain;
  max-width: 73px;
  margin: 0px auto 0px auto;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  width: 40%;
  height: 100%;
  opacity: 1.0;

  .transition(opacity 0.5s);
  .transition-delay(0.0s);
}

.real-heroines-logo-icon-over {
  background: transparent url('../img/real-heroines-logo-icon-over.svg') center center no-repeat;
  background-size: contain;
  opacity: 0.0;
}

.global-nav {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  // background: @rh-grey-faded;
  background: white;
  width: 100%;
  height: 106px;
  // border-bottom: 2px solid @rh-grey-middle;
  border-bottom: 1px solid @rh-grey-thin;
  z-index: 4;

  .veggie-burger {
    display: none;

    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0 12px;
    width: 32px;
    height: 65px;
    z-index: 11;
    .transition(background-color 0.33s);

    &:hover {
      background-color: @rh-grey-light;
    }

    .veggie-pattie {
      position: absolute;
      top: 34px;
      right: 12px;
      width: 32px;
      height: 4px;
      background-color: @rh-grey;
      .border-radius(1px);

      &:before {
        content: "";
        position: absolute;
        top: -10px;

        width: 32px;
        height: 4px;
        background-color: @rh-grey;
        .border-radius(1px);
      }

      &:after {
        content: "";
        position: absolute;
        top: 10px;

        width: 32px;
        height: 4px;
        background-color: @rh-grey;
        .border-radius(1px);
      }
    }
  }

  .top-line {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 8px;
    background-color: @rh-black-logo;
    .transition(all 0.5s);
  }

  nav {
    position: relative;
    height: 106px;
    line-height: 106px;
    overflow: hidden;
    margin-top: 0px;

    .active-indicator {
      position: absolute;
      top: 2px;
      left: 21.5%;
      width: 10px;
      height: 10px;
      background-color: @rh-black-logo;
      .rotate(45deg);

      .transition(all 0.5s);
      .transition-delay(1.5s);

      &.animated-out {
        top: -15px;
      }

      &.animated-in {
        .transition-delay(0.0s);
      }
    }

    // &.scrolled-down {

    //   a.link-home {
    //     width: 10%;

    //     .real-heroines-logo-small {
    //       opacity: 0.0;
    //       .transition-delay(0.0s);
    //     }
    //     .real-heroines-logo-icon {
    //       opacity: 1.0;
    //       .transition-delay(0.5s);
    //     }
    //     .real-heroines-logo-icon-over {
    //       opacity: 0.0;
    //       .transition-delay(0s);
    //     }
    //   }
    // }

    // &.scrolled-down {
    //   a.link-home:hover .real-heroines-logo-small {
    //     opacity: 0.0 !important;
    //     .transition-delay(0s);
    //   }
    //   a.link-home:hover .real-heroines-logo-icon {
    //     opacity: 1.0;
    //     .transition-delay(0s);
    //   }

    //   a.link-home:hover .real-heroines-logo-icon-over {
    //     .transition-delay(0s);
    //   }
    // }

    a {
      margin-top: 5px;
      display: block;
      float: left;
      font-family: 'Ubuntu', Verdana, Arial, sans-serif;
      font-weight: 300;
      font-size: 14px;
      color: @rh-grey-faded;
      text-decoration: none;
      padding: 4px 16px 0px 16px;
      padding-top: 4px;
      vertical-align: bottom;
      height: 106px;
      line-height: 106px;
      background-color: white;

      box-sizing: border-box;
      border-right: 1px solid @rh-grey-thin;

      .transition(color 0.5s, opacity 1.4s, padding-top 0.75s, height 1.0s, line-height 1.0s, background-color 0.5s);
    }

    a.link-home {
      position: relative;
      font-family: 'Lust', Georgia, serif;
      font-size: 24px;
      color: @rh-grey;
      height: 106px;
      width: 21.5%;
      text-align: center;

      // border-right: 1px solid @rh-grey-middle;
      padding-right: 0px;
      padding-left: 0px;
      line-height: 106px;
      margin-top: 0px;
      vertical-align: top;
      opacity: 1.0;
      .transition(all 0.5s);
      .transition-delay(0.5s);

      img {
        position: relative;
        top: 20px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }

      .real-heroines-logo-small-over,
      .real-heroines-logo-icon-over {
        opacity: 0.0;
        .transition(opacity 0.5s);
      }

      &:hover {
        background-color: @rh-grey-light;

        .real-heroines-logo-small {
          opacity: 0.33;
        }

        .real-heroines-logo-small-over,
        .real-heroines-logo-icon-over {
          opacity: 0.0;
        }
      }

      .real-heroines-logo-small {
        background-size: contain;
        opacity: 1.0;
        width: 83%;
        height: 106px;
        .transition(opacity 0.5s);
        .transition-delay(0.5s);
      }

      .real-heroines-logo-small-over {
        background-size: contain;
        width: 162px;
        height: 106px;
      }

      // &:hover .real-heroines-logo-small {
      //   opacity: 0.0;
      // }

      .real-heroines-logo-icon,
      .real-heroines-logo-icon-over {
        display: block;
        opacity: 0.0;
        .transition-delay(0.0s);
      }

      &.animated-in {
        .transition-delay(0.0s);
        .real-heroines-logo-small {
          .transition-delay(0.0s);
        }
      }
    }

    .divider {
      margin-top: 27px;
      float: left;
      height: 40px;
      width: 1px;
      background-color: @rh-grey-middle;
      vertical-align: bottom;
    }

    a:hover {
      color: @rh-black-logo;
      background-color: @rh-grey-light;
      -webkit-transition-delay: 0 !important;
       -moz-transition-delay: 0 !important;
         -o-transition-delay: 0 !important;
          transition-delay: 0 !important;
    }

    a:visited {
      // color: black;
      .transition-delay(0);
    }

    a.link-home {
      .transition-delay(0s);
    }

    a.link-grid {
      .transition-delay(0.15s);
    }
    a.link-portrait {
      .transition-delay(0.20s);

      &.animated-out {
        overflow: hidden;
        width: 0px;
      }
    }
    a.link-about {
      .transition-delay(0.25s);
    }
    a.link-timeline {
      .transition-delay(0.30s);
    }

    // animations at load
    a.animated-out {
      margin-top: 8px;
      padding-top: 26px;
      opacity: 0.0;
    }

    a.link-home.animated-out {
      margin-top: 0px;
      opacity: 0.0;
      height: 106px;
      line-height: 106px;
    }

    .social-links {
      position: absolute;
      right: 2.2%;
      top: 15%;

      .share-button {
        float: right;
      }

      .twitter-button {
        width: 90px;
      }

      .facebook-button {
        margin-top: -48px;
        display: block;
        padding-right: 10px;
        width: 80px;
      }

      .google-plus {
        width: 56px;
      }
    }
  }
}

/* #Page Styles
================================================== */

body {
  .transition(background-color 0.5s);

  #views {
    .transition(all 0.33s);
  }
}


body.grid .global-nav nav a.link-grid,
body.portrait .global-nav nav a.link-portrait,
body.about .global-nav nav a.link-about,
body.heroine .global-nav nav a.link-portrait,
body.timeline .global-nav nav a.link-timeline,
body.home .global-nav nav a.link-grid {
  background-color: @rh-grey-light;
  color: black;
  .transition-delay(0);
}

body.grid .global-nav nav .active-indicator {
  margin-left: 32-5px;
}
body.portrait .global-nav nav .active-indicator,
body.heroine .global-nav nav .active-indicator {
  margin-left: 64+50-5px;
}
body.about .global-nav nav .active-indicator {
  margin-left: 64+100+40-5px;
}

body.about {
  // background-color: @rh-black;
  // #views { top: 106px; }

  // #grid-view { display: none; }
  #portrait-navigation { display: none; }
  .portrait-view { display: none; }
  // #timeline-view { display: none; }
  // #about-view { display: block; }
}

body.home,
body.grid {
  background-color: white;
  // #views { bottom: 112px; }

  .portrait-view {
    height: 0;
  }

  // #grid-view { display: block; }
  // #portrait-navigation { display: none; }
  // #portrait-view { display: none; }
  // #timeline-view { display: none; }
  // #about-view { display: none; }
}

body.about {
  .portrait-view {
    height: 0;
  }
}

body.heroine,
body.portrait {
  background-color: @rh-grey-middle;
  background: url('../img/chalky-pattern.jpg');
  #views { bottom: 112px; }

  // #grid-view { display: none; }
  // #portrait-navigation { display: block; }
  // #portrait-view { display: block; }
  // #timeline-view { display: none; }
  // #about-view { display: none; }
}

body.timeline {
  background-color: white;
  #views { bottom: 112px; }

  // #grid-view { display: none; }
  // #portrait-navigation { display: none; }
  // #portrait-view { display: none; }
  // #timeline-view { display: block; }
  // #about-view { display: none; }
}

#container {
  width: 100%;
  // height: 100%;
  height: auto;
}

#views {
  width: 100%;
  height: auto;
  // position: absolute;
  position: relative;
  // top: 106px;
  top: 0px;
  // right: 0;
  // bottom: 0;
  // left: 0;
  // overflow-x: hidden;
  // overflow-y: auto;
}


.diamonds {
  margin: 1em auto;
  padding: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  height: 18px;
  line-height: 18px;
  text-align: center;

  .diamond-line {
    display: inline-block;
    height: 1px;
    width: 5%;
    min-width: 16px;
    background: @rh-grey-middle;
    vertical-align: middle;
    .transition(0.66s);

    &.long-line {
      width: 45%;
    }
  }
  .diamond-small {
    width: 4px;
    height: 4px;
    border: 1px solid @rh-grey-middle;
    .rotate(0.785rad);
    margin-left: -1px;
    margin-right: -1px;
    display: inline-block;
    vertical-align: middle;
    .rotate(0.785rad);
    .transition(0.66s);
  }
  .diamond-large {
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    border: 1px solid @rh-grey-middle;
    margin-left: -1px;
    margin-right: -1px;
    .rotate(0.785rad);
    .transition(0.66s);
  }

  .left-line {
    margin-right: -2px;
  }

  .right-line {
    margin-left: -2px;
  }

  &.dark-diamonds {
    .diamond-line {
      background: @rh-blacker;
    }

    .diamond-small, .diamond-large {
      border: 1px solid @rh-blacker;
    }

  }
}


@import 'grid.less';
@import 'portrait.less';
@import 'about.less';


/* #Media Queries
================================================== */

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {}

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .global-nav nav a.link-home {
      .real-heroines-logo-icon {
        opacity: 1.0;
        display: block;
      }
      .real-heroines-logo-icon-over {
        opacity: 0.0;
        display: block;
      }
      .real-heroines-logo-small,
      .real-heroines-logo-small-over {
        display: none;
      }

      &:hover {
        .real-heroines-logo-icon-over {
          opacity: 1.0;
        }
      }
    }

    .social-links {
      display: none;
    }

    #views {
      bottom: 0 !important;
    }
  }

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {
    .global-nav nav a.link-home {

      .real-heroines-logo-icon {
        display: block;
        opacity: 1.0;
      }
      .real-heroines-logo-icon-over {
        display: block;
      }
     .real-heroines-logo-small,
     .real-heroines-logo-small-over {
        display: none;
      }

      &:hover {
        .real-heroines-logo-icon-over {
          opacity: 1.0;
        }
      }
    }

    #views {
      position: relative;
      top: 0px;
      height: 100%;
      bottom: 0 !important;
      overflow-x: hidden;
      overflow-y: visible;
    }

    /* Grid view */
    #grid-view {
      top: 0;
    }

    .social-links {
      display: none;
    }
  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .global-nav nav a.link-home {
      .real-heroines-logo-icon {
        opacity: 1.0;
        display: block;
      }
      .real-heroines-logo-icon-over {
        opacity: 0.0;
        display: block;
      }
      .real-heroines-logo-small,
      .real-heroines-logo-small-over {
        display: none;
      }

      &:hover {
        .real-heroines-logo-icon-over {
          opacity: 1.0;
        }
      }
    }

    #views {
      overflow-y: hidden;
      bottom: 0 !important;
    }

    /* Grid view */
    #grid-view {
      top: 0;
    }

    .social-links {
      display: none;
    }
  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @navItemHeight: 65px;
  @navLogoHeight: 72px;

  @media only screen and (max-width: 479px) {
    .global-nav .top-line,
    .global-nav .active-indicator {
      display: none;
    }

    .global-nav nav a.link-home .real-heroines-logo-icon,
    .global-nav nav a.link-home .real-heroines-logo-icon-over {
      display: none;
    }

    .global-nav {
      height: @navLogoHeight;
      .transition(height 0.33s);

      .veggie-burger {
        display: block;
        height: @navLogoHeight;
      }

      nav, nav.scrolled-down {
        height: 100%;

        a {
        }

        a.link-home {
          position: relative;
          width: 100%;
          height: @navLogoHeight;
          border-right: none;
          z-index: 10;

          .real-heroines-logo-small,
          .real-heroines-logo-small-over {
            display: block;
            width: 65%;
            height: @navLogoHeight;
            margin: auto auto auto 8px;
            opacity: 1.0;
          }
        }
        a.link-grid {
          position: absolute;
          top: 0px;
          display: block;
          width: 100%;
          height: @navItemHeight;
          line-height: @navItemHeight;
          text-align: center;
          padding: 0;
          margin-top: 0;
          z-index: 9;
        }
        a.link-portrait {
          position: absolute;
          top: 0px;
          display: block;
          width: 100%;
          height: @navItemHeight;
          line-height: @navItemHeight;
          text-align: center;
          padding: 0;
          margin-top: 0;
          z-index: 9;
        }
        a.link-about {
          position: absolute;
          top: 0px;
          width: 100%;
          height: @navItemHeight;
          line-height: @navItemHeight;
          text-align: center;
          padding: 0;
          margin-top: 0;
          z-index: 9;
        }
      }

      &.expanded {
        height: @navLogoHeight + 1px + (@navItemHeight*3);

        nav {
          a.link-grid {
            position: absolute;
            top: @navLogoHeight;
          }
          a.link-portrait {
            position: absolute;
            top: @navLogoHeight + @navItemHeight;
          }
          a.link-about {
            position: absolute;
            top: @navLogoHeight + @navItemHeight + @navItemHeight;
          }
        }
      }
    }

    .social-links {
      display: none;
    }

    #views {
      overflow-y: hidden;
      // bottom: 0 !important;
    }

    /* Grid view */
    #grid-view {
      top: 0;

      a.heroine-card {
        float: none;
        height: 320px;
      }
    }
  }


// @media only screen and (min-height: 850px) {
//   #views {
//     bottom: 112px !important;
//   }
// }