// modularized
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:100,400,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,700&subset=latin,latin-ext);
@import 'colors.less';
@import 'mixins.less';
@import 'footer.less';

.ease-out-back() {
  -webkit-transition-timing-function: cubic-bezier(0.520, 0.000, 0.195, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.520, 0.000, 0.195, 1.650);
     -moz-transition-timing-function: cubic-bezier(0.520, 0.000, 0.195, 1.650);
       -o-transition-timing-function: cubic-bezier(0.520, 0.000, 0.195, 1.650);
          transition-timing-function: cubic-bezier(0.520, 0.000, 0.195, 1.650); /* custom */
}

.ease-in-back() {
  -webkit-transition-timing-function: cubic-bezier(0.495, 0, 0.965, 0.995); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.495, -0.600, 0.965, 0.995);
     -moz-transition-timing-function: cubic-bezier(0.495, -0.600, 0.965, 0.995);
       -o-transition-timing-function: cubic-bezier(0.495, -0.600, 0.965, 0.995);
          transition-timing-function: cubic-bezier(0.495, -0.600, 0.965, 0.995); /* custom */
}


/* #Site Styles
================================================== */

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #ffffff;
  font-family: 'Ubuntu',Verdana,Arial,Helvetica,sans-serif;
}

.fullwidth {
  display: block;
  width: 100%;
}

.real-heroines-logo-small {
  max-width: 162px;
  max-height: 65px;

  width: 96%;
  height: auto;
}

.real-heroines-logo-smallest {
  width: 78px;
  height: 30px;
}

.real-heroines-logo-large {
  width: 432px;
  height: 180px;
}

.real-heroines-logo-icon {
  max-width: 74px;
  max-height: 65px;

  width: 96%;
  height: auto;
}

.global-nav {
  display: block;
  margin: 0;
  padding: 0;
  // background: @rh-grey-faded;
  background: white;
  width: 100%;
  height: 106px;
  // border-bottom: 2px solid @rh-grey-middle;
  border-bottom: 1px solid @rh-grey-thin;
  z-index: 4;

  nav {
    height: 106px;
    line-height: 106px;
    overflow: hidden;
    margin-top: 0px;

    .top-line {
      position: absolute;
      top: 0px;
      left: 14.2857%;
      right: 0px;
      width: 100-14.2857%;
      height: 8px;
      background-color: @rh-green;
    }

    .active-indicator {
      position: absolute;
      top: 2px;
      left: 14.2857%;
      width: 10px;
      height: 10px;
      background-color: @rh-green;
      .rotate(45deg);

      .transition(all 0.5s);
      .transition-delay(1.5s);

      &.animated-out {
        top: -15px;
      }
    }

    a {
      margin-top: 8px;
      display: block;
      float: left;
      font-family: 'Ubuntu', Verdana, Arial, sans-serif;
      font-weight: 300;
      font-size: 14px;
      color: @rh-grey-faded;
      text-decoration: none;
      padding: 4px 16px 0px 16px;
      padding-top: 4px;
      vertical-align: bottom;
      height: 106px;
      line-height: 106px;
      background-color: white;

      box-sizing: border-box;
      border-right: 1px solid @rh-grey-thin;

      .transition(color 0.5s, opacity 1.4s, padding-top 0.75s, height 1.0s, line-height 1.0s, background-color 0.5s);
    }

    a.link-home {
      font-family: 'Roboto Slab', Georgia, serif;
      font-size: 24px;
      color: @rh-grey;
      height: 106px;
      width: 14.2857%;
      text-align: center;

      // border-right: 1px solid @rh-grey-middle;
      padding-right: 0px;
      padding-left: 0px;
      line-height: 65px;
      margin-top: 0px;
      vertical-align: top;
      opacity: 1.0;

      // this guy is also a loading bar
      .top-line {
        position: absolute;
        top: 0px;
        left: 0;
        right: 0px;
        width: 14.2857%;
        height: 8px;
        background-color: @rh-black-logo;
        .transition(background-color 0.5s);
      }

      img {
        position: relative;
        top: 20px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }

      .real-heroines-logo-small-over,
      .real-heroines-logo-icon-over {
        opacity: 0.0;
        .transition(opacity 0.5s);
      }

      &:hover {
        background-color: white;

        .top-line {
          background-color: @rh-yellow;
        }

        .real-heroines-logo-small-over,
        .real-heroines-logo-icon-over {
          opacity: 0.0;
        }
      }

      .real-heroines-logo-small {
        opacity: 1.0;
        .transition(opacity 0.5s);
      }

      // &:hover .real-heroines-logo-small {
      //   opacity: 0.0;
      // }

      .real-heroines-logo-icon,
      .real-heroines-logo-icon-over {
        display: none;
      }
    }

    .divider {
      margin-top: 27px;
      float: left;
      height: 40px;
      width: 1px;
      background-color: @rh-grey-middle;
      vertical-align: bottom;
    }

    a:hover {
      color: @rh-black-logo;
      background-color: @rh-grey-light;
      -webkit-transition-delay: 0 !important;
       -moz-transition-delay: 0 !important;
         -o-transition-delay: 0 !important;
          transition-delay: 0 !important;
    }

    a:visited {
      color: black;
      .transition-delay(0);
    }

    a.link-home {
      .transition-delay(0s);
    }

    a.link-grid {
      .transition-delay(0.15s);
    }
    a.link-portrait {
      .transition-delay(0.20s);

      &.animated-out {
        overflow: hidden;
        width: 0px;
      }
    }
    a.link-about {
      .transition-delay(0.25s);
    }
    a.link-timeline {
      .transition-delay(0.30s);
    }

    // animations at load
    a.animated-out {
      margin-top: 8px;
      padding-top: 26px;
      opacity: 0.0;
    }

    a.link-home.animated-out {
      margin-top: 0px;
      opacity: 0.0;
      height: 106px;
      line-height: 106px;
    }
  }
}

/* #Page Styles
================================================== */

body {
  .transition(background-color 0.5s);

  #views {
    .transition(all 0.33s);
  }
}


body.grid .global-nav nav a.link-grid,
body.portrait .global-nav nav a.link-portrait,
body.about .global-nav nav a.link-about,
body.heroine .global-nav nav a.link-portrait,
body.timeline .global-nav nav a.link-timeline,
body.home .global-nav nav a.link-grid {
  background-color: @rh-grey-light;
  color: black;
  .transition-delay(0);
}

body.grid .global-nav nav .active-indicator {
  margin-left: 32-5px;
}
body.portrait .global-nav nav .active-indicator,
body.heroine .global-nav nav .active-indicator {
  margin-left: 64+50-5px;
}
body.about .global-nav nav .active-indicator {
  margin-left: 64+100+40-5px;
}

body.about {
  // background-color: @rh-black;
  #views { top: 106px; }

  // #grid-view { display: none; }
  #portrait-navigation { display: none; }
  .portrait-view { display: none; }
  // #timeline-view { display: none; }
  // #about-view { display: block; }
}

body.home,
body.grid {
  background-color: white;
  #views { bottom: 112px; }

  .portrait-view {
    height: 0;
  }

  // #grid-view { display: block; }
  // #portrait-navigation { display: none; }
  // #portrait-view { display: none; }
  // #timeline-view { display: none; }
  // #about-view { display: none; }
}

body.about {
  .portrait-view {
    height: 0;
  }
}

body.heroine,
body.portrait {
  background-color: @rh-grey-middle;
  background: url('../img/chalky-pattern.jpg');
  #views { bottom: 112px; }

  // #grid-view { display: none; }
  // #portrait-navigation { display: block; }
  // #portrait-view { display: block; }
  // #timeline-view { display: none; }
  // #about-view { display: none; }
}

body.timeline {
  background-color: white;
  #views { bottom: 112px; }

  // #grid-view { display: none; }
  // #portrait-navigation { display: none; }
  // #portrait-view { display: none; }
  // #timeline-view { display: block; }
  // #about-view { display: none; }
}

#container {
  width: 100%;
  height: 100%;
}

#views {
  width: 100%;
  position: absolute;
  top: 106px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}


.diamonds {
  margin: 1em auto;
  padding: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  height: 18px;
  line-height: 18px;
  text-align: center;

  .diamond-line {
    display: inline-block;
    height: 1px;
    width: 5%;
    min-width: 16px;
    background: @rh-grey-middle;
    vertical-align: middle;
    .transition(0.66s);

    &.long-line {
      width: 45%;
    }
  }
  .diamond-small {
    width: 4px;
    height: 4px;
    border: 1px solid @rh-grey-middle;
    .rotate(0.785rad);
    margin-left: -1px;
    margin-right: -1px;
    display: inline-block;
    vertical-align: middle;
    .rotate(0.785rad);
    .transition(0.66s);
  }
  .diamond-large {
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    border: 1px solid @rh-grey-middle;
    margin-left: -1px;
    margin-right: -1px;
    .rotate(0.785rad);
    .transition(0.66s);
  }

  .left-line {
    margin-right: -2px;
  }

  .right-line {
    margin-left: -2px;
  }

  &.dark-diamonds {
    .diamond-line {
      background: @rh-blacker;
    }

    .diamond-small, .diamond-large {
      border: 1px solid @rh-blacker;
    }

  }
}


@import 'grid.less';
@import 'portrait.less';
@import 'about.less';


/* #Media Queries
================================================== */

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {}

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .global-nav nav a.link-home .real-heroines-logo-icon,
    .global-nav nav a.link-home .real-heroines-logo-icon-over {
      display: block;
    }
    .global-nav nav a.link-home .real-heroines-logo-small,
    .global-nav nav a.link-home .real-heroines-logo-small-over {
      display: none;
    }

    #views {
      bottom: 0 !important;
    }
  }

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {
    .global-nav nav a.link-home .real-heroines-logo-icon,
    .global-nav nav a.link-home .real-heroines-logo-icon-over {
      display: block;
    }
    .global-nav nav a.link-home .real-heroines-logo-small,
    .global-nav nav a.link-home .real-heroines-logo-small-over {
      display: none;
    }

    #views {
      position: relative;
      top: 0px;
      height: 100%;
      bottom: 0 !important;
      overflow-x: hidden;
      overflow-y: visible;
    }

    /* Grid view */
    #grid-view {
      top: 0;
    }
  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .global-nav nav a.link-home .real-heroines-logo-icon,
    .global-nav nav a.link-home .real-heroines-logo-icon-over {
      display: block;
    }
    .global-nav nav a.link-home .real-heroines-logo-small,
    .global-nav nav a.link-home .real-heroines-logo-small-over {
      display: none;
    }

    #views {
      overflow-y: hidden;
      bottom: 0 !important;
    }

    /* Grid view */
    #grid-view {
      top: 0;
    }
  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
    .global-nav .top-line,
    .global-nav .active-indicator {
      display: none;
    }

    .global-nav nav a.link-home .real-heroines-logo-icon,
    .global-nav nav a.link-home .real-heroines-logo-icon-over {
      display: none;
    }

    .global-nav {
      height: 100px;
      nav {
        a.link-home {
          width: 100%;
          height: 65px;

          .real-heroines-logo-small,
          .real-heroines-logo-small-over {
            display: block;
            width: 121px;
            height: 50px;
            top: 8px;
            left: 50%;
            margin-left: -60px; 
          }
        }
        a.link-grid {
          display: none;
        }
        a.link-portrait {
          display: none;
        }
        a.link-about {
          position: absolute;
          top: 65px;
          width: 100%;
          height: 35px;
          line-height: 35px;
          text-align: center;
          padding: 0;
          margin-top: 0;
        }
      }
    }

    #views {
      overflow-y: hidden;
      bottom: 0 !important;
    }

    /* Grid view */
    #grid-view {
      top: 0;

      a.heroine-card {
        float: none;
        height: 320px;
      }
    }
  }


/* #Font-Face
================================================== */
/*  This is the proper syntax for an @font-face file
    Just create a "fonts" folder at the root,
    copy your FontName into code below and remove
    comment brackets */

/*  @font-face {
      font-family: 'FontName';
      src: url('../fonts/FontName.eot');
      src: url('../fonts/FontName.eot?iefix') format('eot'),
           url('../fonts/FontName.woff') format('woff'),
           url('../fonts/FontName.ttf') format('truetype'),
           url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
      font-weight: normal;
      font-style: normal; }
*/



@media only screen and (min-height: 850px) {
  #views {
    bottom: 112px !important;
  }
}