body.portrait #grid-view {
  opacity: 0.0;
}

#portrait-navigation {
  position: absolute;
  top: 106px;
  right: 0;
  left: 0;
  height: 68px;
  background-color: white;
  margin-top: 0;
  z-index: 2;
  .transition(all 0.66s);
  .transition-delay(0.25s);

  &.animated-out {
    top: -75px;
    .transition-delay(0.15s);
  }


  .portrait-navigation-container {
    position: relative;
    // max-width: 960px;
    height: 68px;
    margin: 0 auto;
    
    .arrow {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 36px;
      height: 1px;
      margin: auto;
      background-color: @rh-grey-middle;
      .transition(background-color 0.33s);

      &:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: 2px;
        border-top: 1px solid @rh-grey-middle;
        border-left: 1px solid @rh-grey-middle;
        .rotate(-0.785rad);
        .transition(all 0.33s);
      }
    }

    .arrow-button {
      position: absolute;
      top: 0;
      bottom: 0;

      .button-label {
        position: absolute;
        top: 14px;
        left: 100px;
        font-family: 'Lust', Georgia, serif;
        font-size: 16px;
        color: @rh-grey;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        .transition(color 0.33s);
      }
      .button-title {
        position: absolute;
        top: 34px;
        left: 100px;
        font-family: 'Ubuntu', Verdana, Arial, sans-serif;
        font-size: 14px;
        color: @rh-grey-faded;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        .transition(color 0.33s);
      }

      &:hover {
        color: black;

        .button-label {
          color: black;
        }

        .button-title {
          color: black;
        }

        .arrow {
          background-color: black;

          &:before {
            border-top: 1px solid black;
            border-left: 1px solid black;
          }
        }
      }
    }

    #previous-button {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 33%;
      height: 68px;

      .arrow {
        left: 40px;
      }
    }

    #next-button {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 33%;
      height: 68px;
      text-align: right;

      .button-label {
        text-align: right;
        left: 0;
        right: 100px;
      }
      .button-title {
        text-align: right;
        left: 0;
        right: 100px;
      }

      .arrow {
        right: 40px;

        &:before {
          position: relative;
          left: 12px;
          .rotate(2.355rad);
        }
      }
    }

    #grid-button {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 34px;
      height: 34px;
      margin: auto;
      overflow: hidden;
      cursor: pointer;
      .transition(all 0.5s);

      .grid-block {
        float: left;
        width: 26.4705%;
        height: 26.4705%;
        margin-left: 2px;
        margin-bottom: 2px;
        opacity: 0.25;
        background-color: @rh-grey-middle;
        .transition(all 0.25s);
      }

      &:hover {
        .grid-block {
          opacity: 1.0;
        }
      }
    }
  }
}

.portrait-view {
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 30px;
  position: absolute;
  top: 68px;
  right: 0;
  bottom: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 1.0;
  width: 100%;

  .transition(all 0.5s);
  // height: 100%;

  &.animated-out {
    opacity: 1.0;
    margin-left: 100%;

    .portrait-container {
      left: 100%;
    }
  }

  &.animated-out-left {
    .portrait-container {
      left: -100%;
    }
  }

  &.animated-unload-next {
    .portrait-container {
      left: -100%;
    }
  }

  &.animated-unload-previous {
    .portrait-container {
      left: 100%;
    }
  }

  .portrait-container {
    position: relative;
    left: 0;
    width: 85%;
    height: 100%;
    max-width: 816px;
    min-height: 596px;
    background-color: @rh-grey-light;
    margin: 0 auto;
    .transition(all 0.5s);

    .portrait-frame {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: auto;
      height: auto;
      border: 1px solid @rh-grey-middle;
      margin: 20px;

      .portrait-image {
        position: relative;
        float: left;
        top: 40px;
        left: 0.95%;
        width: 340px;
        height: 340px;
        text-align: center;

        .portrait-circle {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          width: 82.64%;
          height: 82.64%;
          margin: auto;
          border-radius: 50%;
          background-color: #fcca2b;
          overflow: hidden;

          canvas {
            width: 100%;
            height: 100%;
          }
        }

        .portrait-animation {
          position: absolute;
          top: -12px;
          right: 0;
          left: -1px;
          bottom: 0;
          width: 100%;
          height: 100%;
          margin: auto;
          image-rendering: -moz-crisp-edges;         /* Firefox */
          image-rendering:   -o-crisp-edges;         /* Opera */
          image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
          image-rendering: crisp-edges;
          -ms-interpolation-mode: nearest-neighbor;

          .part {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }

          .portrait-eyes-opened,
          .portrait-eyes-closed {
            .transition(opacity 0.25);
          }
        }

        .portrait-ornament {
          margin-top: 75%;
          width: 88.235294%;
          height: 33.529411%;
        }
      }

      .corner-loop {
        background: transparent url('../img/corner-loop.png') center center no-repeat;
        width: 13px;
        height: 13px;
      }

      .corner-ellipse {
        background: transparent url('../img/corner-ellipse.png') center center no-repeat;
        width: 30px;
        height: 30px;
      }

      .loop-top-left {
        position: absolute;
        top: -13px;
        left: -13px;
        .scaleX(-1.0);
      }

      .loop-top-right {
        position: absolute;
        top: -13px;
        right: -13px;
      }

      .loop-bottom-left {
        position: absolute;
        bottom: -13px;
        left: -13px;
        .scale(-1.0);
      }

      .loop-bottom-right {
        position: absolute;
        bottom: -13px;
        right: -13px;
        .scaleY(-1.0);
      }

      .ellipse-top-left {
        position: absolute;
        top: 0px;
        left: 0px;
      }

      .ellipse-bottom-right {
        position: absolute;
        bottom: 0px;
        right: 0px;
        .scale(-1.0);
      }

      .ellipse-top-right {
        position: absolute;
        top: 0px;
        right: 0px;
        .scaleX(-1.0);
      }

      .ellipse-bottom-left {
        position: absolute;
        bottom: 0px;
        left: 0px;
        .scaleY(-1.0);
      }

      .portrait-details {
        position: relative;
        float: left;
        width: 50%;
        margin-left: 3%;
        top: 68px;
        min-height: 300px;
        height: 85%;
        color: @rh-grey;

        h1 {
          font-family: 'Lust', Georgia, serif;
          font-size: 32px;
          color: @rh-grey-dark;
          margin: 0 auto;
        }

        .portrait-title {
          font-family: 'Ubuntu', Verdana, Arial, sans-serif;
          font-size: 14px;
          color: @rh-grey-faded;
          margin: 0 auto;
          text-transform: uppercase;
        }

        .portrait-data {
          width: 100%;
          margin-top: 18px;
          border-top: 1px solid @rh-grey-faded;
          border-bottom: 1px solid @rh-grey-faded;

          &:after {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 5px;
            border-bottom: 1px solid @rh-grey-faded;
          }

          .portrait-data-item {
            float: left;
            width: 33%;
            min-height: 70px;
            line-height: 18px;

            .portrait-data-item-label {
              text-transform: uppercase;
              font-size: 12px;
              color: @rh-grey-dark;
              margin-top: 17px;
            }

            .portrait-data-item-value {
              font-family: Ubuntu, Arial, sans-serif;
              font-size: 14px;
              text-align: oblique;
              color: @rh-grey;
            }
          }

          .portrait-data-item-birth {
            border-right: 1px solid @rh-grey-faded;
          }
          .portrait-data-item-death {
            border-right: 1px solid @rh-grey-faded;

            .portrait-data-item-label,
            .portrait-data-item-value {
              margin-left: 16px;
            }
          }
          .portrait-data-item-nationality {
            .portrait-data-item-label,
            .portrait-data-item-value {
              margin-left: 16px;
            }
          }
        }

        .portrait-copy {
          margin-top: 28px;
          height: 53%;
          overflow: auto;
          -webkit-overflow-scrolling: touch;
          margin: 28px auto 0px;

          h3 {
            font-family: 'Lust', Georgia, serif;
            font-size: 18px;
            color: @rh-grey-dark;
          }

          p {
            margin: auto;
            font-size: 12px;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}


@media only screen and (min-width: 768px) and (max-width: 959px) {
  .portrait-view {
    bottom: 0px;
    .portrait-container {
      .portrait-frame {
        .portrait-image {
          width: 268px;
          height: 268px;
          img {
            top: -14px;
          }
        }
      }
    }
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  body.portrait {
    overflow: hidden;

    #views {
      height: auto;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      position: absolute;
      top: @navLogoHeight;
      bottom: 108px;
      background: @rh-grey-light;
    }

    #grid-view {
      display: none;
    }
  }

  #container {
    // margin-bottom: 110px;
  }

  #portrait-navigation {
    top: @navLogoHeight;

    .portrait-navigation-container {
      .arrow-button .arrow {
        display: none;
      }
      .arrow-button .button-title {
        font-size: 14px
      }
      .arrow-button .button-label {
        font-size: 12px;
      }

      #next-button {
        .button-title,
        .button-label {
          right: 10px;
        }
      }
      #previous-button {
        .button-title,
        .button-label {
          left: 10px;
        }
      }
    }
  }

  .portrait-view {
    margin: 0 auto;
    height: 100%;
    padding-top: 0px;
    bottom: 0px;

    .portrait-container {
      width: 100%;
      height: 100%;

      .portrait-frame  {
        width: auto;
        height: auto;
        border: none;
        text-align: center;

        .corner-loop,
        .corner-ellipse {
          display: none;
        }

        .portrait-image {
          left: auto;
          width: 380px;
          height: 380px;
          clear: both;
          float: none;
          margin: auto;
        }

        .portrait-details {
          min-width: 320px;
          width: 80%;
          height: auto;
          overflow: visible;
          margin: auto;
          min-height: 0;
          text-align: left;
          float: none;

          h1 {
            width: 91%;
          }
          .portrait-title {
            width: 91%;
          }

          .portrait-data-item-birth {
            .portrait-data-item-label,
            .portrait-data-item-value {
              margin-left: 16px;
            }
          }

          .portrait-copy {
            width: 91%;
            height: auto;
            min-height: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 479px) {
  .portrait-view {
    bottom: 0px;
    .portrait-container {
      width: 100%;

      a {
        word-break: break-all;
      }

      .portrait-frame {
        .portrait-image {
          left: 0;
          width: 260px;
          height: 260px;

          img {
            top: -12px;
          }
        }
        .portrait-details {
          width: 260px;
          min-width: 260px;

          h1 {
            font-size: 20px;
            line-height: 38px;
          }

          .portrait-title {
            font-size: 14px;
          }
        }

        .portrait-data-item-label,
        .portrait-data-item-value {
          margin-left: 0px !important;
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (max-height: 850px) {
  .portrait-view {
    bottom: 142px !important;
  }
}