#portrait-view {

  .portrait-container {
    position: relative;
    width: 85%;
    height: 766px;
    background-color: @rh-grey-light;
    margin: 0 auto;

    .portrait-frame {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 96.3414%;
      height: 96.3414%;
      border: 1px solid @rh-grey;
      margin: auto;
    }
  }
}