- load compressed
doctype 5
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='description', content='{% block meta_description %}{% endblock %}')
    meta(name='keywords', content='{% block meta_keywords %}{% endblock %}')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1.0')
    block extrahead

    //- TODO: favicon
    //-link(rel="icon",type="image/png",href="{{STATIC_URL}}moniverse/favicon.png",sizes='128x128')
    //-link(rel="icon",type="image/png",href="{{STATIC_URL}}moniverse/favicon-64.png",sizes='64x64')
    //-link(rel="icon",type="image/png",href="{{STATIC_URL}}moniverse/favicon-48.png",sizes='48x48')
    //-link(rel="icon",type="image/png",href="{{STATIC_URL}}moniverse/favicon-32.png",sizes='32x32')
    //-link(rel="icon",type="image/png",href="{{STATIC_URL}}moniverse/favicon-16.png",sizes='16x16')
    
    title
      | Real Heroines - {% block title %}{% endblock %}

    - compressed_css 'styles'

    {% block extrastyles %}{% endblock %}
    script(type='text/javascript').
      // declare rh in the global namespace
      window.rh = {};

      document.addEventListener('DOMContentLoaded', function(e) {
        // basic css-triggered animations on nav
        var gridLinks = document.querySelectorAll('.global-nav nav a');
        for (i = gridLinks.length - 1; i >= 0; i--) {
          link = gridLinks[i];
          link.classList.remove('animated-out');
        };

      });

    - compressed_js 'rh'
    
    script.
      
      rh.STATIC_URL = '{{STATIC_URL}}';
      
    block scripts

  body(class='{{current_page}}')
    #container.fullwidth
      .global-nav.fullwidth
        .clearfix
        nav.container(data-active="{{current_page}}")
          a.animated-out.link-home(href="{% url 'home' %}")
            img.real-heroines-logo-small(src='{{STATIC_URL}}img/real-heroines-logo-small.svg')
          .divider
          a.animated-out.link-grid(href="{% url 'grid' %}") GRID
          a.animated-out.link-portrait(href="{% url 'portrait' %}") PORTRAIT
          //- a.animated-out.link-timeline(href="{% url 'timeline' %}") TIMELINE
      block content
      .clearfix
    footer
      .footer-container.container
        a#about-link(href="{% url 'about' %}")
          .text ABOUT
          .control
        .copyright
          .legal
            .actual &copy; Copyright 2014, Real Heroines. All Rights Reserved.
            .subtitle Made with love and lots of tea by Moni and Oliver from 200BG
          .footer-logo
            img.real-heroines-logo-smallest(src='{{STATIC_URL}}img/real-heroines-logo-small.svg')

    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-48972048-1', 'realheroines.com');
        ga('send', 'pageview');

    script(src='{{STATIC_URL}}js/x-tag-components.js')

    script.
      document.addEventListener('DOMContentLoaded', function(e) {
        // force dom stuff
        //document.body.clientWidth;
      });