extends 'base'

block scripts
  script.
    var app;
    document.addEventListener('DOMContentLoaded', function(e) {
      var fadeInQuotient = 0.18;
      var navDelayOffset = 0.75;
      var cards = document.querySelectorAll('#grid-view .heroine-card');
      for (var i = 0; i < cards.length; i++) {
        var card = cards[i];
        card.style.transitionDelay = navDelayOffset + (i*fadeInQuotient) + 's';
        card.classList.remove('animated-out');
        var portrait = card.querySelector('.portrait');
        portrait.style.transitionDelay = navDelayOffset + (i*fadeInQuotient) + 's';
        var nameplate = card.querySelector('.nameplate');
        nameplate.style.transitionDelay = navDelayOffset + ((i+0.25)*(fadeInQuotient*2)) + 's';
      }

      function clearDelays() {
        var cards = document.querySelectorAll('#grid-view .heroine-card');
        for (var i = 0; i < cards.length; i++) {
          var card = cards[i];
          card.style.transitionDelay = null;
          var portrait = card.querySelector('.portrait');
          portrait.style.transitionDelay = null;
          var nameplate = card.querySelector('.nameplate');
          nameplate.style.transitionDelay = null;
        }
      }

      setTimeout(clearDelays, navDelayOffset+(cards.length*fadeInQuotient));


      app = new rh.App();
    });

block content
  .clearfix
  #views
    #grid-view.container
      for h in heroines
        a.heroine-card.animated-out.four.columns(data-id='{{h.slug}}',href="{% url 'heroine' h.slug %}")
          .portrait
            .circle
            img(src='{{h.grid_image_thumbnail.url}}')
          .diamonds
            .left-line.diamond-line
            .diamond1.diamond-small
            .diamond2.diamond-large
            .diamond3.diamond-small
            .right-line.diamond-line
          .clearfix
          .nameplate {{h.name}}
          .title {{h.title}}

    #portrait-navigation.fullwidth
      a#previous-button.arrow-button(href="{{previous_heroine.get_absolute_url}}",style='{% if not previous_heroine %}display: none{% endif %}')
        .button-label Prev
        .button-title {{previous_heroine.name}}
        .arrow
      a#next-button.arrow-button(href="{{next_heroine.get_absolute_url}}",style='{% if not next_heroine %}display: none{% endif %}')
        .button-label Next
        .button-title {{next_heroine.name}}
        .arrow
      a#grid-button(href="{% url 'grid' %}")
        .grid-block
        .grid-block
        .grid-block
        .grid-block
        .grid-block
        .grid-block
        .grid-block
        .grid-block
        .grid-block
        script.
          var gridBlocks = document.querySelectorAll('#grid-button .grid-block');
          for (var i = 0; i < gridBlocks.length; i++) {
            var block = gridBlocks[i];
            block.style.webkitTransitionDelay = (i*0.05)+'s';
            block.style.transitionDelay = (i*0.05)+'s';
          }

    #portrait-view.container
      .portrait-container
        .portrait-frame
          .corner-loop.loop-top-left
          .corner-ellipse.ellipse-top-left
          .corner-loop.loop-top-right
          .corner-loop.loop-bottom-left
          .corner-loop.loop-bottom-right
          .corner-ellipse.ellipse-bottom-right

          .portrait-image
            .portrait-circle
              canvas(width='340',height='340')
            .portrait-animation
              img.portrait-still(src='{{selected_heroine.hero_image.url}}')
              img.portrait-hair.part(style='display:none;')
              img.portrait-torso.part(style='display:none;')
              img.portrait-head.part(style='display:none;')
              img.portrait-mouth.part(style='display:none;')
              img.portrait-eyes-opened.part(style='display:none;')
              img.portrait-eyes-closed.part(style='display:none;')
            //- img(src='{{STATIC_URL}}img/sample.png')
            img.portrait-ornament(src='{{STATIC_URL}}img/portrait-ornaments.png')
          .portrait-details &nbsp;
            h1 {{selected_heroine.name}}
            .portrait-title {{selected_heroine.title}}
            .portrait-data
              .portrait-data-item.portrait-data-item-birth
                .portrait-data-item-label Birth
                .portrait-data-item-value {{selected_heroine.birthdate}}

              .portrait-data-item.portrait-data-item-death
                .portrait-data-item-label Death
                .portrait-data-item-value {{selected_heroine.deathdate}}

              .portrait-data-item.portrait-data-item-nationality
                .portrait-data-item-label Nationality
                .portrait-data-item-value {{selected_heroine.country}}

              .clearfix

            .portrait-copy
              h3 What makes her a <em>heroine</em>?
              | {{selected_heroine.description_html|safe}}

              .clearfix



    #about-view.fullwidth
      .about-container
        .about-details
          img.world-icon(src='{{STATIC_URL}}img/world-icon.png')
          header
            h1
              img.real-heroines-logo-large(src='{{STATIC_URL}}img/real-heroines-logo-larg.svg')

          .diamonds
            .left-line.diamond-line
            .diamond1.diamond-small
            .diamond2.diamond-large
            .diamond3.diamond-small
            .right-line.diamond-line
          .about-copy
            h2 A real heroine is not a mythical goddess, flawless celebrity or animated princess.
            p 
              | She is an individual that values her mind and noble actions. 
              | She is an individual that finds inner strength to overcome 
              | adversity and defy social conventions. She is a real-life 
              | woman &mdash; a real-life heroine. 
            p 
              | Unfortunately, it has become increasingly difficult to find
              | such role models in our current society. Today we all are
              | taught that a girl’s and a woman’s self-worth is
              | determined by their appearance, popularity, and/or
              | material wealth.
            p
              | “Real Heroines” is an ongoing project by <a href="http://200bg.com/">200 Billion Galaxies</a>
              | that compiles notable women from the past for those who are
              | interested in learning more about women’s history and 
              | trying to find inspiration from the actions of their
              | predicessors. Let’s change the portrait of a heroine, and
              | encourage a future of strong innovative thinkers and leaders! 
          .clearfix
          .dedication
            h3 Dedicated to the women of the past, present, and future

      .clearfix

      