extends 'base'

block scripts
  script.
    var app;
    var fadeInQuotient = 0.18;
    var navDelayOffset = 0.75;
    //- function gridLoadAnimation() {
    //-   var grid = document.querySelector('#grid-view');
    //-   grid.classList.remove('animated-out');
    //- }
    document.addEventListener('DOMContentLoaded', function(e) {
      var cards = document.querySelectorAll('#grid-view .heroine-card');
      for (var i = 0; i < cards.length; i++) {
        var card = cards[i];
        card.style.transitionDelay = navDelayOffset + (i*fadeInQuotient) + 's';
        var portrait = card.querySelector('.portrait');
        portrait.style.transitionDelay = navDelayOffset + (i*fadeInQuotient) + 's';
        var nameplate = card.querySelector('.nameplate');
        nameplate.style.transitionDelay = navDelayOffset + ((i+0.25)*(fadeInQuotient*2)) + 's';
      }

      function clearDelays() {
        var cards = document.querySelectorAll('#grid-view .heroine-card');
        for (var i = 0; i < cards.length; i++) {
          var card = cards[i];
          card.style.transitionDelay = null;
          var portrait = card.querySelector('.portrait');
          portrait.style.transitionDelay = null;
          var nameplate = card.querySelector('.nameplate');
          nameplate.style.transitionDelay = null;
        }
      }

      //- setTimeout(gridLoadAnimation, 150);
      setTimeout(clearDelays, 333 + navDelayOffset+(cards.length*fadeInQuotient));


      app = new rh.App(document.getElementById('views'), '{{heroines_json}}');
    });

block content
  .clearfix
  img.shareable-logo(src="{{STATIC_URL}}img/logo-icon-black.png", style="position: absolute; opacity: 0.0; width:1px;height:1px;")
  #views
    #grid-view.animated-out
      for h in heroines
        a.heroine-card.animated-out(data-id='{{h.slug}}',href="{% url 'heroine' h.slug %}", data-top-offset="{{h.top_offset}}")
          .portrait
            .circle
            .grid-portrait(style='background-image: url({{h.grid_image_thumbnail.url}});')
          canvas.grid-portrait-ornament(width='300',height='113')
          .diamonds
            .left-line.diamond-line
            .diamond1.diamond-small
            .diamond2.diamond-large
            .diamond3.diamond-small
            .right-line.diamond-line
          .clearfix
          .nameplate {{h.name}}
          .title {{h.title}}

        {% if forloop.counter|divisibleby:4 %}
        .clearfix
        {% endif %}

    .portrait-view.container.animated-out
      .portrait-container
        .portrait-frame
          .corner-loop.loop-top-left
          .corner-ellipse.ellipse-top-left
          .corner-ellipse.ellipse-top-right
          .corner-loop.loop-top-right
          .corner-loop.loop-bottom-left
          .corner-loop.loop-bottom-right
          .corner-ellipse.ellipse-bottom-left
          .corner-ellipse.ellipse-bottom-right

          .portrait-image
            .portrait-circle
              canvas(width='340',height='340')
            .portrait-animation
              img.portrait-still(src='{{selected_heroine.hero_image.url}}')
              img.portrait-hair.part(style='display:none;')
              img.portrait-torso.part(style='display:none;')
              img.portrait-head.part(style='display:none;')
              img.portrait-mouth.part(style='display:none;')
              img.portrait-eyes-opened.part(style='display:none;')
              img.portrait-eyes-closed.part(style='display:none;')
            //- img(src='{{STATIC_URL}}img/sample.png')
            img.portrait-ornament(src='{{STATIC_URL}}img/portrait-ornaments.png')
          .portrait-details &nbsp;
            h1 {{selected_heroine.name}}
            .portrait-title {{selected_heroine.title}}
            .portrait-data
              .portrait-data-item.portrait-data-item-birth
                .portrait-data-item-label Birth
                .portrait-data-item-value 
                  {% if selected_heroine.birthdate_is_approximate %}
                  | c. {{selected_heroine.birthdate|date:'Y'}}
                  {% else %}
                  | {{selected_heroine.birthdate}}
                  {% endif %}

              .portrait-data-item.portrait-data-item-death
                .portrait-data-item-label Death
                .portrait-data-item-value {{selected_heroine.deathdate}}

              .portrait-data-item.portrait-data-item-nationality
                .portrait-data-item-label Nationality
                .portrait-data-item-value {{selected_heroine.country}}

              .clearfix

            .portrait-copy
              h3 What makes her a <em>heroine</em>?
              .portrait-copy-text
                | {{selected_heroine.description_html|safe}}
                .clearfix
              .clearfix
            .clearfix
          .clearfix



    #about-view.fullwidth.animated-out
      .about-container
        .about-details
          header
            .mugs-container
              .mugs
              .quote-of-the-month
                .background
                .quote-container
                  h3 
                    span.datelike {{quote.created|date:"M"|default:"08"}}
                    | QUOTE OF THE MONTH 
                    span.datelike '{{quote.created|date:"y"|default:"14"}}
                  .quote(style='{{quote.styles}}')
                    | {{quote.what|default:"I AM NOT AFRAID OF STORMS FOR I AM LEARNING TO SAIL MY SHIP."}}
                  .attribution
                    | {{quote.who|default:"Louisa May Alcott"}}

          .about-project.container

            //- img.world-icon(src='{{STATIC_URL}}img/world-icon-wide.png')

            .right-side.sixteen.columns.about-copy

              .section-header.what-this-is
                //- .animated-out
                .inquisitive WHAT
                .statement is Real Heroines
              p
                | “Real Heroines” is an ongoing project by <a href="http://200bg.com/" target="_blank">200 Billion Galaxies</a>
                | that compiles notable women from the past who cultivated their minds 
                | and overcame adversity by defying social conventions.
                | Through this site we hope to inspire female empowerment within
                | men, women, boys and girls, from the action of their predecessors,
                | so we can all move beyond gender stereotypes and grow as people.


              //- .clearfix
              canvas#world-icon(width='218',height='52')    


              .section-header.what-this-is
                //- .animated-out
                .inquisitive WHY
                .statement this is important

              p
                | In our modern culture a heroine is considered to be a mythical 
                | goddess, flawless celebrity or animated princess. Commonly 
                | worshipped by her outward appearance, social status, and 
                | lady-like qualities. She becomes a fictional role model with 
                | unattainable qualities, and fuels gender stereotypes that 
                | misrepresent and harm. Teaching us that a girl's and women's 
                | self-worth is determined by their physical appearance, 
                | popularity, or material wealth.

              p 
                | Female objectification has also become ingrained in our 
                | society and even distorted as a form of empowerment. 
                | Over-exposure of such negative imagery and comments causes 
                | further harassment from both genders on the treatment of 
                | girls and women, commonly blocking their ability to navigate 
                | through the chaos and reach their true potential.

              p 
                | That is why we must redefine our understanding of a “heroine”. 
                | View her as an individual who cultivates her mind. An individual 
                | that finds inner strength to overcome adversity and defy social 
                | conventions. An individual that is a real person — a real heroine.

              p
                | Let's change the portrait of a heroine, and encourage a future 
                | of strong innovative thinkers and leaders!


            .clearfix
          .clearfix

          .section-header.who-made-this-mobile
            .inquisitive WHO
            .statement MADE THIS

          .about-us.container
            .moni-block.bio-block.six.columns.animated-out
              .bio-image
                .bio-image-ring
              h4.bio-name Moni Yael Garcia
              .bio-role Designer &amp; Illustrator
              p.bio-about
                | Passionate about women's rights and the education for all. 
                | Associates smells with colors and tastes with places. 
                | Describes her designs best through sound effects. 

            .four.columns
              .section-header.who-made-this.animated-out
                .inquisitive WHO
                .statement MADE THIS
            .oli-block.bio-block.six.columns.animated-out
              .bio-image
                .bio-image-ring
              h4.bio-name Oliver Wilkerson
              .bio-role Developer
              p.bio-about
                | Believes technical-based classes should be taught in 
                | schools. Makes obscure Star Trek: TNG and Jurassic&nbsp;Park references.
                | Solves code conumdrums through his dreams.

            .clearfix
          .clearfix



      .clearfix

      