extends 'base'

block scripts
  script.
    document.addEventListener('DOMContentLoaded', function(e) {
      var fadeInQuotient = 0.18;
      var navDelayOffset = 0.75;
      var cards = document.querySelectorAll('#grid-view .heroine-card');
      for (var i = 0; i < cards.length; i++) {
        var card = cards[i];
        card.style.transitionDelay = navDelayOffset + (i*fadeInQuotient) + 's';
        card.classList.remove('animated-out');
        var portrait = card.querySelector('.portrait');
        portrait.style.transitionDelay = navDelayOffset + (i*fadeInQuotient) + 's';
        var nameplate = card.querySelector('.nameplate');
        nameplate.style.transitionDelay = navDelayOffset + ((i+0.25)*(fadeInQuotient*2)) + 's';
      }

      function clearDelays() {
        var cards = document.querySelectorAll('#grid-view .heroine-card');
        for (var i = 0; i < cards.length; i++) {
          var card = cards[i];
          card.style.transitionDelay = null;
          var portrait = card.querySelector('.portrait');
          portrait.style.transitionDelay = null;
          var nameplate = card.querySelector('.nameplate');
          nameplate.style.transitionDelay = null;
        }
      }

      setTimeout(clearDelays, navDelayOffset+(cards.length*fadeInQuotient));
    });

block content
  .clearfix
  #views
    #grid-view.container
      for h in heroines
        .heroine-card.animated-out.four.columns(data-id='{{h.slug}}')
          .portrait
            img(src='{{h.grid_image_thumbnail.url}}')
          .diamonds
            .left-line.diamond-line
            .diamond1.diamond-small
            .diamond2.diamond-large
            .diamond3.diamond-small
            .right-line.diamond-line
          .clearfix
          .nameplate {{h.name}}
          .title {{h.title}}

    #portrait-view.container
      .portrait-container
        .portrait-frame
          .portrait-image.six.columns
            img(src='{{h.hero_image.url}}')
          .portrait-details.seven.columns &nbsp;

    #about-view.fullwidth
      .about-container.container
        .about-details
          img.world-icon(src='{{STATIC_URL}}img/world-icon.png')
          header
            h1
              img.real-heroines-logo-large(src='{{STATIC_URL}}img/real-heroines-logo-larg.svg')

          .diamonds
            .left-line.diamond-line
            .diamond1.diamond-small
            .diamond2.diamond-large
            .diamond3.diamond-small
            .right-line.diamond-line
          .about-copy
            h2 A real heroine is not a mythical goddess, flawless celebrity or animated princess.
            p 
              | She is an individual that values her mind and noble actions. 
              | She is an individual that finds inner strength to overcome 
              | adversity and defy social conventions. She is a real-life 
              | woman &mdash; a real-life heroine. 
            p 
              | Unfortunately, it has become increasingly difficult to find
              | such role models in our current society. Today we all are
              | taught that a girl’s and a woman’s self-worth is
              | determined by their appearance, popularity, and/or
              | material wealth.
            p
              | “Real Heroines” is an ongoing project by <a href="http://200bg.com/">200 Billion Galaxies</a>
              | that compiles notable women from the past for those who are
              | interested in learning more about women’s history and 
              | trying to find inspiration from the actions of their
              | predicessors. Let’s change the portrait of a heroine, and
              | encourage a future of strong innovative thinkers and leaders! 

          .dedication
            h3 Dedicated to the women of the past, present, and future

      .clearfix

      