extends 'base'

block scripts
  script.
    var app;
    //- function gridLoadAnimation() {
    //-   var grid = document.querySelector('#grid-view');
    //-   grid.classList.remove('animated-out');
    //- }
    document.addEventListener('DOMContentLoaded', function(e) {
      var fadeInQuotient = 0.18;
      var navDelayOffset = 0.75;
      var cards = document.querySelectorAll('#grid-view .heroine-card');
      for (var i = 0; i < cards.length; i++) {
        var card = cards[i];
        card.style.transitionDelay = navDelayOffset + (i*fadeInQuotient) + 's';
        var portrait = card.querySelector('.portrait');
        portrait.style.transitionDelay = navDelayOffset + (i*fadeInQuotient) + 's';
        var nameplate = card.querySelector('.nameplate');
        nameplate.style.transitionDelay = navDelayOffset + ((i+0.25)*(fadeInQuotient*2)) + 's';
      }

      function clearDelays() {
        var cards = document.querySelectorAll('#grid-view .heroine-card');
        for (var i = 0; i < cards.length; i++) {
          var card = cards[i];
          card.style.transitionDelay = null;
          var portrait = card.querySelector('.portrait');
          portrait.style.transitionDelay = null;
          var nameplate = card.querySelector('.nameplate');
          nameplate.style.transitionDelay = null;
        }
      }

      //- setTimeout(gridLoadAnimation, 150);
      //- setTimeout(clearDelays, 333 + navDelayOffset+(cards.length*fadeInQuotient));


      app = new rh.App(document.getElementById('views'), '{{MEDIA_URL}}heroines.json');
    });

block content
  .clearfix
  #views
    #grid-view.container.animated-out
      for h in heroines
        a.heroine-card.animated-out.four.columns(data-id='{{h.slug}}',href="{% url 'heroine' h.slug %}")
          .portrait
            .circle
            img(src='{{h.grid_image_thumbnail.url}}')
          .diamonds
            .left-line.diamond-line
            .diamond1.diamond-small
            .diamond2.diamond-large
            .diamond3.diamond-small
            .right-line.diamond-line
          .clearfix
          .nameplate {{h.name}}
          .title {{h.title}}

    #portrait-navigation.fullwidth.animated-out
      .portrait-navigation-container
        a#previous-button.arrow-button(href="{{previous_heroine.get_absolute_url}}",data-direction='previous',style='{% if not previous_heroine %}opacity: 0.0{% endif %}')
          .button-label Prev
          .button-title {{previous_heroine.name}}
          .arrow
        a#next-button.arrow-button(href="{{next_heroine.get_absolute_url}}",data-direction='next',style='{% if not next_heroine %}opacity: 0.0{% endif %}')
          .button-label Next
          .button-title {{next_heroine.name}}
          .arrow
        a#grid-button(href="{% url 'grid' %}")
          .grid-block
          .grid-block
          .grid-block
          .grid-block
          .grid-block
          .grid-block
          .grid-block
          .grid-block
          .grid-block
          script.
            var gridBlocks = document.querySelectorAll('#grid-button .grid-block');
            for (var i = 0; i < gridBlocks.length; i++) {
              var block = gridBlocks[i];
              block.style.webkitTransitionDelay = (i*0.05)+'s';
              block.style.transitionDelay = (i*0.05)+'s';
            }

    .portrait-view.container.animated-out
      .portrait-container
        .portrait-frame
          .corner-loop.loop-top-left
          .corner-ellipse.ellipse-top-left
          .corner-loop.loop-top-right
          .corner-loop.loop-bottom-left
          .corner-loop.loop-bottom-right
          .corner-ellipse.ellipse-bottom-right

          .portrait-image
            .portrait-circle
              canvas(width='340',height='340')
            .portrait-animation
              img.portrait-still(src='{{selected_heroine.hero_image.url}}')
              img.portrait-hair.part(style='display:none;')
              img.portrait-torso.part(style='display:none;')
              img.portrait-head.part(style='display:none;')
              img.portrait-mouth.part(style='display:none;')
              img.portrait-eyes-opened.part(style='display:none;')
              img.portrait-eyes-closed.part(style='display:none;')
            //- img(src='{{STATIC_URL}}img/sample.png')
            img.portrait-ornament(src='{{STATIC_URL}}img/portrait-ornaments.png')
          .portrait-details &nbsp;
            h1 {{selected_heroine.name}}
            .portrait-title {{selected_heroine.title}}
            .portrait-data
              .portrait-data-item.portrait-data-item-birth
                .portrait-data-item-label Birth
                .portrait-data-item-value {{selected_heroine.birthdate}}

              .portrait-data-item.portrait-data-item-death
                .portrait-data-item-label Death
                .portrait-data-item-value {{selected_heroine.deathdate}}

              .portrait-data-item.portrait-data-item-nationality
                .portrait-data-item-label Nationality
                .portrait-data-item-value {{selected_heroine.country}}

              .clearfix

            .portrait-copy
              h3 What makes her a <em>heroine</em>?
              .portrait-copy-text
                | {{selected_heroine.description_html|safe}}

              .clearfix



    #about-view.fullwidth.animated-out
      .about-container
        .about-details
          img.world-icon(src='{{STATIC_URL}}img/world-icon-dark.png')
          .about-project.container
            header
              h2 About the Project
              .subtitle Why and what for?

            .one.column &nbsp;

            .left-side.seven.columns
              img.left-image(src='{{STATIC_URL}}img/about-left-side.png',width='100%')

            .one.column &nbsp;

            .right-side.six.columns.about-copy
              p
                | “Real Heroines” is an ongoing project by <a href="http://200bg.com/">200 Billion Galaxies</a>
                | that compiles notable women from the past for those who are
                | interested in learning more about women’s history and 
                | trying to find inspiration from the actions of their
                | predecessors. 
              p 
                | A real heroine is not a mythical goddess, flawless celebrity or animated princess.
              p 
                | She is an individual that values her mind and noble actions. 
                | She is an individual that finds inner strength to overcome 
                | adversity and defy social conventions. She is a real-life 
                | woman &mdash; a real-life heroine. 
              p 
                | Unfortunately, it has become increasingly difficult to find
                | such role models in our current society. Today we all are
                | taught that a girl’s and a woman’s self-worth is
                | determined by their appearance, popularity, and/or
                | material wealth.
              p 
                | Let’s change the portrait of a heroine, and
                | encourage a future of strong innovative thinkers and leaders! 

            .one.column &nbsp;

            .clearfix
          .clearfix

          .diamonds.dark-diamonds.container
            .left-line.diamond-line.long-line 
            .diamond1.diamond-small
            .diamond2.diamond-large
            .diamond3.diamond-small
            .right-line.diamond-line.long-line 
          
          .clearfix

          .about-us.container
            header
              h2 About Us
              .subtitle Who's behind Real Heroines?

            .one.column &nbsp;
            .moni-block.bio-block.six.columns 
              .bio-image
              h4.bio-name Moni Yael Garcia
              .bio-role Designer &amp; Illustrator
              p.bio-about
                | Passionate about women's rights and the education for all. 
                | Associates smells with colors and tastes with places. 
                | Describes her designs best through sound effects. Soon to 
                | marry Mr. Perfectly Amazing on the right.

            .two.columns &nbsp;
            .oli-block.bio-block.six.columns
              .bio-image
              h4.bio-name Oliver Wilkerson
              .bio-role Programmer
              p.bio-about
                | Believes technical-based classes should be taught in 
                | schools. Makes Star Trek: TNG and obscure Jurassic Park 
                | references regardless of whether they will be recognized.
                | Solves code conumdrums through his dreams. <br>
                | Asked his true love on the left to marry him.

            .one.column &nbsp;

            .clearfix
          .clearfix



      .clearfix

      